<html>
<head>
<headers> zagolovok </headers>
</headers>
<body>
<font color="gold" owner this server is {{ owner }}
<h2> Space </h2>
<img src="images1.jpeg">
<img src="images2.jpeg">
<img src="images3.jpeg">
Server Host name: {{ ansible_hostname }} <br>
Server Os is: {{ ansible_os_family }} <br>
</body>
</html>
